* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

header {
    background-color: rgba(0, 0, 0, 0.5)
}

li {
    list-style: none;
}

a {
    color: white;
    text-decoration: none;
}

.navbar {
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
}

.logo {
    font-size: 2rem;
    font-weight: bolder;
}

.nav-menu {
    display: flex;
    align-items: center;
    gap: 150px;
}

.nav-link {
    transition: 0.5s ease;
}

.nav-link:hover {
    color: red;
}

.hamburguer {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 2px;
    margin: 5px auto;
    background-color: white;
    transition: all 0.3s ease-in-out;

    .fonte {
        font-weight: none;
    }





}

@media (max-width:768px) {
    .hamburguer {
        display: block;
    }

    .hamburguer.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburguer.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburguer.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        border-radius: 0 0 20px 20px;
        background-color: black;
        text-align: center;
        flex-direction: column;
        width: 100%;
        transition: 0.3s;
    }

    .nav-item {
        margin: 16px 0;
    }

    .nav-menu.active {
        left: 0;
    }
}


/*  BIOGRAFIA  */

img {
    width: 300px;
    height: 250px;
    margin-right: 50px;
    margin-top: 70px;
}

.img2 {
    height: 300px;
    width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 200px;

}

.img3 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin: 30px
}

.biografia {
    display: flex;
    margin-right: 400px;
    margin-left: 15px;
    margin-top: 20px;
    color: #333;

}

h1 {
    margin-bottom: 40px;
    text-align: center;
}

h2 {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

p {
    line-height: 1.6;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}

/* NAVBAR(BIOGRAFIA,PRINCIPAISLUTAS,FRASES)*/

.navbar1,
.navbar2,
.navbar3 {
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
    background-color: black;
}